@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,300&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#header{
     width: 100vw;
     height: 100vh;
     padding: 20px 5rem;
     margin-bottom: 80px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}

#nav-bar{
     width: 100%;
     padding: 0 10rem;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

#logo{
     background: #fff;
}

.heading{
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: 'Roboto';
}

span{
     background: #000;
     color: #fff;
     padding: 10px;
     border-radius: 5px;
     margin-right: 10px;
}

.search-box{
     width: 5em;
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.button{
     cursor: pointer;
     margin: 10px;
}

#news-title{
     width: 80%;
     height: 90vh;
     display: flex;
     flex-direction: column;
     padding: 20px;
}

.news-title-heading{
     height: 10%;
     font-family: 'Roboto';
}

.text-content{
     width: 100%;
     margin: 10px 0 40px;
}

.text{
     color: #949494;
     font-size: 18px;
}

.news-title-image{
     width: 100%;
     height: 80vh;
     background: url('images/fencing.jpg') no-repeat;
     background-size: cover;
     background-position: 50% 100%;
}

#heading-box{
     width: 100%;
     padding: 0;
     margin-bottom: -20px;
     padding: 10px 25px;
}

.text{
     font-family: 'Roboto';
     margin-right: 20px;
}

#news-content{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     padding: 20px 12rem;
}

#news-article{
     width: 100%;
     height: 300px;
     margin: -40px auto 0;
}

#text-details{
     width: 100%;
     height: 100%;
     padding: 0 40px;
     font-family: serif;
     font-weight: 500;
}

a{
     color: #949494;
     text-decoration: none;
}

.bold{
     background: transparent;
     color: #000;
     font-size: 35px;
     padding: 0;
     margin: 0;
     font-family: serif;
     font-weight: 100;
}

#text-details p{
     line-height: 30px;
     font-size: 25px;
     font-weight: 200;
     padding-right: 50px;
     color: #949494;
}

#news-card-container{
     width: 100%;
     padding: 0;
}

.news-heading{
     width: 100%;
     padding: 10px 25px;
}

.latest-news{
     font-family: 'Roboto';
}

.news-card-group{
     padding: 0 5px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}

.news-card{
     margin: 10px;
     width: 23%;
     height: 300px;
     display: flex;
     flex-direction: column;
     cursor: pointer;
}

.news-image{
     width: 100%;
     height: 180px;
     border-radius: 5px;
     margin-bottom: 10px;
     overflow: hidden;
}

.news-image img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: 50%;
}

.news-card-title{
     margin-bottom: 20px;
}

.title-text{
     font-size: 23px;
     font-family: serif;
}

.title-text a{
     text-decoration: none;
     color: #000;
}

.news-card-timeline{
     width: 80%;
     display: flex;
     align-items: center;
}

.card-text{
     margin-right: 20px;
     color: #949494;
     font-weight: 500;
     font-family: 'Roboto';
}

#footer{
     width: 100%;
     height: 100px;
     background: #eee;
     display: flex;
     align-items: center;
     justify-content: center;
}

#footer p{
     font-family: serif;
     color: #949494;
}

@media only screen and (max-width: 768px){
     #header{
          padding: 10px 40px;
          margin-bottom: -40px;
     }

     .news-report{
          width: 100%;
     }

     #text-details{
          display: none;
     }

     #news-content{
          margin-top: -20px;
          padding: 10px 40px;
     }

     .news-card-group{
          justify-content: space-around;
     }

     .news-card{
          width: 203px;
          height: 230px;
          margin: 10px;
     }

     .news-image{
          width: 203px;
          height: 128px;
     }

     .news-card-title h2{
          font-size: 18px;
          padding-right: 15px;
     }

     .news-card-timeline{
          width: 100%;
     }

     .card-text{
          font-size: 12px;
     }

     #footer{
          width: 100vw;
          height: 100px;
     }
}

@media only screen and (max-width: 400px){
     #header{
          padding: 10px 20px;
          margin-bottom: -40px;
     }

     #nav-bar{
          width: 100%;
     }

     #details{
          width: 100%;
     }

     #hot-topics{
          width: 100%;
     }

     .news-report{
          width: 100%;
     }

     #text-details{
          display: none;
     }

     #news-content{
          margin-top: -20px;
          padding: 10px 40px;
     }

     .news-card-group{
          justify-content: space-around;
     }

     .news-card{
          width: 203px;
          height: 230px;
          margin: 10px;
     }

     .news-image{
          width: 203px;
          height: 128px;
     }

     .news-card-title h2{
          font-size: 18px;
          padding-right: 15px;
     }

     .news-card-timeline{
          width: 100%;
     }

     .card-text{
          font-size: 12px;
     }

     #footer{
          width: 100vw;
          height: 100px;
     }
}