@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,300&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#header{
     width: 100vw;
     height: 70vh;
     padding: 20px 5rem;
     margin-bottom: 80px;
     position: relative;
}

#nav-bar{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px;
}

#logo{
     background: #fff;
}

.heading{
     display: flex;
     align-items: center;
     justify-content: center;
}

span{
     background: #000;
     color: #fff;
     margin: 0 10px;
     padding: 10px;
     border-radius: 5px;
}

.search-box{
     width: 20%;
     height: 50px;
     display: flex;
     align-items: center;
     justify-content: flex-end;
     position: relative;
     left: 32%;
     border-radius: 50px;
     border: 1px solid #ededed;
     transition: all .2s linear;
}

#search{
     width: 200px;
     height: 45px;
     border: none;
     outline: 0;
     padding: 10px 0;
     font-size: 18px;
     transition: all .2s linear;
}

.search-box.expand{
     width: 42%;
     left: 22%;
}

#search.expand{
     width: 500px;
}

.button{
     cursor: pointer;
     margin: 10px;
     background: transparent;
     width: 30px;
     height: 30px;
     border: none;
     outline: none;
}

#news-headline{
     padding: 0;
     margin: 20px 0;
     display: flex;
     flex-direction: column;
}

#news-headline.hide{
     display: none;
}

#heading-box{
     width: 100%;
     padding: 0;
     margin-bottom: -20px;
     padding: 10px 25px;
}

#heading{
     font-family: 'Roboto';
}

#details{
     display: flex;
     align-items: center;
     margin: 0;
     padding: 0;
}

#hot-topics{
     width: 70%;
     height: 400px;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.25%, rgba(0, 0, 0, 0.65) 100%), url('images/swim.jpg');
     background-position: center;
     background-size: cover;
     color: #fff;
     margin: 0 20px;
     border-radius: 5px;
     position: relative;
     padding: 20px;
}

.news-report{
     position: absolute;
     width: 543px;
     height: 144px;
     left: 2em;
     top: 45%;
     padding-right: 5em;
}

.news-details{
     position: absolute;
     top: 80%;
     left: 2em;
     margin-top: 5px;
     display: flex;
     align-items: center;
     width: 200px;
     font-weight: 300;
}

.text{
     font-family: 'Roboto';
     margin-right: 20px;
}

#text-details{
     width: 25%;
     font-family: serif;
     font-weight: 500;
     height: 400px;
     padding: 20px 0;
     margin: 20px 30px 20px 30px;
}

.bold{
     background: transparent;
     color: #000;
     font-size: 35px;
     padding: 0;
     margin: 0;
     font-family: serif;
     font-weight: 100;
}

#text-details p{
     line-height: 30px;
     font-size: 25px;
     font-weight: 200;
     padding-right: 50px;
     color: #949494;
}

a{
     color: #949494;
     text-decoration: none;
}

#news-content{
     padding: 20px 5rem;
}

#news-content.hide{
     display: none;
}

#news-card-container{
     width: 100%;
     padding: -10px;
}

.news-heading{
     width: 100%;
     padding: 10px 25px;
}

.latest-news{
     font-family: 'Roboto';
}

.news-card-group{
     padding: 0 5px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}

.news-card{
     margin: 20px;
     width: 22%;
     height: 320px;
     display: flex;
     flex-direction: column;
     cursor: pointer;
     border-radius: 5px;
}

.news-image{
     width: 100%;
     height: 200px;
     border-radius: 5px;
     margin-bottom: 10px;
     overflow: hidden;
}

.news-image img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: 50%;
}

.news-card-title{
     margin: 10px 5px;
}

.title-text{
     font-size: 20px;
     font-weight: 500;
     font-family: 'Roboto';
}

.title-text a{
     text-decoration: none;
     color: #000;
}

.news-card-timeline{
     width: 100%;
     display: flex;
     align-items: center;
     margin: 10px 5px;
}

.card-text{
     margin-right: 20px;
     color: #949494;
     font-weight: 500;
     font-family: 'Roboto';
}

#search-list{
     width: 100%;
     padding: 0 5px;
     position: absolute;
     top: 15%;
     left: 0;
     background: #fff;
     align-items: center;
     display: none;
}

#search-list.show{
     display: block;
}

#search-list-group{
     width: 100%;
     padding: 0 5px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}

#footer{
     width: 100%;
     height: 100px;
     background: #eee;
     display: flex;
     align-items: center;
     justify-content: center;
}

#footer p{
     font-family: serif;
     color: #949494;
}

@media only screen and (max-width: 768px){
     #header{
          padding: 0 20px;
          height: 120vh;
          padding: 0;
          margin-bottom: 0;
     }

     #nav-bar{
          position: relative;
          z-index: 1;
     }

     .search-box{
          width: 760px;
          height: 70px;
          position: absolute;
          top: -75px;
          left: 03px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-radius: 0;
          background: #fff;
          box-shadow: 2px 0 2px rgba(0, 0, 0, 0.65);
          z-index: 0;
     }

     .search-box.expand{
          left: 0;
          width: 98.5%;
     }

     .search-button{
          position: absolute;
          left: 90%;
          top: 12%;
     }

     #search{
          width: 95%;
          border-radius: 50px;
          margin-left: 20px;
          padding-left: 20px;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
     }

     .search-box.open-search{
          top: 75px;
     }

     #news-headline{
          margin-top: 0;
          height: 92%;
          padding: 20px;
     }

     #details{
          flex-direction: column;
          height: 89%;
     }

     #heading-box{
          margin-bottom: 20px;
     }

     #heading{
          font-size: 25px;
     }

     #hot-topics{
          width: 100%;
          height: 700px;
     }

     #text-details{
          width: 100%;
          height: 200px;
     }

     #news-content{
          padding: 0;
     }

     .news-card-group{
          width: 95%;
          margin: 0 auto;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
     }

     .news-card{
          width: 30%;
          margin: 10px;
     }

     .news-image{
          width: 100%;
          height: 55%;
     }

     .news-card-title{
          width: 100%;
          height: 30%;
          margin: 0;
     }

     .news-card-title h2{
          width: 100%;
          height: 15%;
          margin: 0;
          font-size: 16px;
     }

     .news-card-timeline{
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          margin: 0;
     }

     .card-text{
          margin: 0;
          font-size: 12px;
     }

     .card-text:nth-child(2){
          margin-top: 5px;
     }
}

@media only screen and (max-width: 400px){
     #header{
          margin-bottom: -40px;
          width: 100%;
          height: 100vh;
          padding: 0;
          margin-bottom: 30px;
     }

     #nav-bar{
          width: 100%;
          height: 60px;
          padding: 0;
          position: relative;
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.65);
     }

     .search-box{
          width: 98%;
          height: 70px;
          position: absolute;
          top: -70px;
          left: 03px;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          border-radius: 0;
          background: #fff;
          box-shadow: 2px 0 2px rgba(0, 0, 0, 0.65);
          z-index: 0;
     }

     .search-button{
          position: absolute;
          left: 85%;
          top: 12%;
     }

     #search{
          width: 95%;
          border-radius: 50px;
          margin-left: 10px;
          padding-left: 20px;
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
     }

     .search-box.open-search{
          top: 68px;
     }

     #news-headline{
          width: 100%;
          height: 91.5%;
          padding: 10px;
     }

     #heading-box{
          margin-bottom: 5px;
     }

     #heading{
          font-size: 20px;
     }

     #details{
          width: 100%;
          height: 100%;
          flex-direction: column;
     }

     #hot-topics{
          width: 100%;
          height: 55%;
          padding: 0;
          margin-bottom: 10px;
     }

     .news-report{
          position: absolute;
          left: 10px;
          width: 95%;
          margin: 0 auto;
          padding: 0;
     }

     .text-details{
          font-size: 30px;
     }

     .news-details{
          position: absolute;
          left: 10px;
          width: 100%;
     }

     #text-details p{
          font-size: 18px;
          margin: 0;
          padding: 0;
     }

     .news-card-group{
          padding: 0;
     }

     .news-card{
          position: relative;
          width: 100%;
          height: 120px;
          margin: 10px 0;
     }
     
     .news-image{
          width: 40%;
          height: 100%;
          position: absolute;
          left: 0;
          top: 0;
     }

     .news-card-title{
          width: 58%;
          height: 60%;
          position: absolute;
          left: 42%;
     }

     .news-card-timeline{
          position: absolute;
          left: 42%;
          top: 65%;
          width: 58%;
          height: 35%;
          margin: 0;
     }

     .card-text{
          font-size: 14px;
     }

     #footer{
          width: 100vw;
          height: 100px;
     }
}