@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,100;1,300&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

#header{
     width: 100vw;
     height: 70vh;
     padding: 20px 5rem;
     margin-bottom: 80px;
     position: relative;
}

#nav-bar{
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 10px;
}

#logo{
     background: #fff;
}

.heading{
     display: flex;
     align-items: center;
     justify-content: center;
}

span{
     background: #000;
     color: #fff;
     margin: 0 10px;
     padding: 10px;
     border-radius: 5px;
}

.icons{
     width: 40%;
     height: 50px;
     display: flex;
     align-items: center;
     position: relative;
}

#search{
     width: 200px;
     height: 45px;
     border: 1px solid #949494;
     border-radius: 50px;
     outline: 0;
     margin-right: 180px;
     padding: 10px 20px;
     font-size: 18px;
     position: absolute;
     left: 52.5%;
     top: 1px;
     transition: all .2s ease-in-out;
}

#search.expand{
     width: 500px;
     left: -2%;
}

.button{
     cursor: pointer;
     margin: 10px;
}

.search{
     position: absolute;
     left: 80%;
     top: 5%;
}

.bars{
     position: absolute;
     left: 90%;
     top: 5%;
}

#news-headline{
     padding: 0;
     margin: 20px 0;
     display: flex;
     flex-direction: column;
}

#news-headline.hide{
     display: none;
}

#heading-box{
     width: 100%;
     padding: 0;
     margin-bottom: -20px;
     padding: 10px 25px;
}

#heading{
     font-family: 'Roboto';
}

#details{
     display: flex;
     align-items: center;
     margin: 0;
     padding: 2em 0;
}

#hot-topics{
     width: 70%;
     height: 400px;
     background: linear-gradient(180deg, rgba(0, 0, 0, 0) 42.25%, rgba(0, 0, 0, 0.65) 100%), url('images/swim.jpg');
     background-position: center;
     background-size: cover;
     color: #fff;
     margin: 0 20px;
     border-radius: 5px;
     position: relative;
     padding: 20px;
}

.news-report{
     position: absolute;
     width: 543px;
     height: 144px;
     left: 2em;
     top: 45%;
     padding-right: 5em;
}

.news-details{
     position: absolute;
     top: 80%;
     left: 2em;
     margin-top: 5px;
     display: flex;
     align-items: center;
     width: 200px;
     font-weight: 300;
}

.text{
     font-family: 'Roboto';
     margin-right: 20px;
}

#text-details{
     width: 25%;
     font-family: serif;
     font-weight: 500;
     height: 400px;
     padding: 20px 0;
     margin: 20px 30px 20px 30px;
}

.bold{
     background: transparent;
     color: #000;
     font-size: 35px;
     padding: 0;
     margin: 0;
     font-family: serif;
     font-weight: 100;
}

#text-details p{
     line-height: 30px;
     font-size: 25px;
     font-weight: 200;
     padding-right: 50px;
     color: #949494;
}

a{
     color: #949494;
     text-decoration: none;
}

#news-content{
     padding: 20px 5rem;
}

#news-content.hide{
     display: none;
}

#news-card-container{
     width: 100%;
     padding: -10px;
}

.news-heading{
     width: 100%;
     padding: 10px 25px;
}

.latest-news{
     font-family: 'Roboto';
}

.news-card-group{
     padding: 0 5px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}

.news-card{
     margin: 20px;
     width: 22%;
     height: 320px;
     display: flex;
     flex-direction: column;
     cursor: pointer;
     border-radius: 5px;
}

.news-image{
     width: 100%;
     height: 200px;
     border-radius: 5px;
     margin-bottom: 10px;
     overflow: hidden;
}

.news-image img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     object-position: 50%;
}

.news-card-title{
     margin: 10px 5px;
}

.title-text{
     font-size: 20px;
     font-weight: 500;
     font-family: 'Roboto';
}

.title-text a{
     text-decoration: none;
     color: #000;
}

.news-card-timeline{
     width: 100%;
     display: flex;
     align-items: center;
     margin: 10px 5px;
}

.card-text{
     margin-right: 20px;
     color: #949494;
     font-weight: 500;
     font-family: 'Roboto';
}

#search-list{
     width: 100%;
     padding: 0 5px;
     position: absolute;
     top: 15%;
     left: 0;
     background: #fff;
     align-items: center;
     display: none;
}

#search-list.show{
     display: block;
}

#search-list-group{
     width: 100%;
     padding: 0 5px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
}

#footer{
     width: 100%;
     height: 100px;
     background: #eee;
     display: flex;
     align-items: center;
     justify-content: center;
}

#footer p{
     font-family: serif;
     color: #949494;
}

@media only screen and (max-width: 768px){
     #header{
          padding: 0 20px;
          border: 1px solid orange;
          height: 70vh;
          padding: 0;
          margin-bottom: 0;
     }

     #nav-bar{
          border: 1px solid #0da2ff;
          width: 100%;
          padding: 20px;
          position: relative;
     }

     #details{
          flex-direction: column;
     }

     #news-headline{
          padding: 20px;
     }

     #hot-topics{
          width: 100%;
          margin: 20px;
     }

     #text-details{
          width: 100%;
     }
}

@media only screen and (max-width: 400px){
     #header{
          padding: 10px 20px;
          margin-bottom: -40px;
     }

     #details{
          width: 100%;
     }

     #hot-topics{
          width: 100%;
     }

     .news-report{
          width: 100%;
     }

     #text-details{
          display: none;
     }

     #news-content{
          margin-top: -20px;
          padding: 10px 40px;
     }

     .news-card-group{
          justify-content: space-around;
     }

     .news-card{
          width: 203px;
          height: 230px;
          margin: 10px;
     }

     .news-image{
          width: 203px;
          height: 128px;
     }

     .news-card-title h2{
          font-size: 18px;
          padding-right: 15px;
     }

     .news-card-timeline{
          width: 100%;
     }

     .card-text{
          font-size: 12px;
     }

     #footer{
          width: 100vw;
          height: 100px;
     }
}